<h1>Buttons</h1>
<hr />
<div class="flex flex-wrap mb-1" style="gap: 1em">
  <zgz-button type="submit"></zgz-button>
  <zgz-button variant="primary">primary</zgz-button>
  <zgz-button variant="info">info</zgz-button>
  <zgz-button variant="success">success</zgz-button>
  <zgz-button variant="danger">danger</zgz-button>
  <zgz-button variant="warning">warning</zgz-button>
</div>

<div class="flex flex-wrap mb-1" style="gap: 1em">
  <zgz-button [isBlock]="true">default block</zgz-button>
  <zgz-button [isBlock]="true" variant="primary">primary block</zgz-button>
  <zgz-button [isBlock]="true" variant="info">info block</zgz-button>
  <zgz-button [isBlock]="true" variant="success">success block</zgz-button>
  <zgz-button [isBlock]="true" variant="danger">danger block</zgz-button>
  <zgz-button [isBlock]="true" variant="warning">warning block</zgz-button>
</div>

<div class="flex flex-wrap mb-1" style="gap: 1em">
  <zgz-button [loading]="true">default loading</zgz-button>
  <zgz-button [loading]="true" variant="primary">primary loading</zgz-button>
  <zgz-button [loading]="true" variant="info">info loading</zgz-button>
  <zgz-button [loading]="true" variant="success">success loading</zgz-button>
  <zgz-button [loading]="true" variant="danger">danger loading</zgz-button>
  <zgz-button [loading]="true" variant="warning">warning loading</zgz-button>
</div>

<div class="flex flex-wrap mb-1" style="gap: 1em">
  <zgz-button [disabled]="true">default disabled</zgz-button>
  <zgz-button [disabled]="true" variant="primary">primary disabled</zgz-button>
  <zgz-button [disabled]="true" variant="info">info disabled</zgz-button>
  <zgz-button [disabled]="true" variant="success">success disabled</zgz-button>
  <zgz-button [disabled]="true" variant="danger">danger disabled</zgz-button>
  <zgz-button [disabled]="true" variant="warning">warning disabled</zgz-button>
</div>

<pre>
    <code >
&lt;zgz-button variant="primary"&gt;primary&lt;/zgz-button&gt;
    </code>
</pre>
